.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limitează la 2 rânduri */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  
/* 
  .checkout-button {
    background: linear-gradient(to right, #ff9a9e, #fecfef);
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 100%;
  }
  
  .checkout-button:hover {
    background: linear-gradient(to right, #ff6f91, #fe82c5);
  }
   */