#paypal-button-container {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}


/* Ascunde bara de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Hover color for scrollbar thumb */
}



/* Ascunde bara de scroll implicită pe webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE și Edge */
  scrollbar-width: none; /* Firefox */
}

/* Stil personalizat pentru scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Lățimea barei de scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundalul barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Culoarea thumb-ului */
  border-radius: 10px; /* Rotunjirea colțurilor */
  border: 2px solid transparent; /* Spațiu între thumb și marginea barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Culoarea thumb-ului la hover */
}




.font-Heebo-24 {
  font-family: 'Heebo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: #1E1E1E;
}

.font-Heebo-20 {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  color: #1E1E1E;
}

.font-Heebo-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #1E1E1E;
}

.font-Heebo-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #1E1E1E;
}

.font-Heebo-reg-14 {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #1E1E1E;
}

.font-Heebo-med-16 {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #1E1E1E;
}


.font-Heebo-med-15 {
  font-family: 'Heebo', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-med {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  line-height: 15px;
}

.font-Heebo-reg {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  line-height: 14px;
}