#paypal-button-container {
  display: block !important;
  width: 100% !important;
  height: auto !important;
}


/* Ascunde bara de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 3px solid transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Hover color for scrollbar thumb */
}



/* Ascunde bara de scroll implicită pe webkit (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE și Edge */
  scrollbar-width: none; /* Firefox */
}

/* Stil personalizat pentru scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Lățimea barei de scroll */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundalul barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bdbdbd; /* Culoarea thumb-ului */
  border-radius: 10px; /* Rotunjirea colțurilor */
  border: 2px solid transparent; /* Spațiu între thumb și marginea barei */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c; /* Culoarea thumb-ului la hover */
}
